body
{
  padding-top:65px;
}

#map{
  height: 100%;
}

#nav-mobile li a
{
  color : #212121;
}

nav
{
  padding-left:2.1rem;
  padding-right:2.1rem;
}

.team-wrapper
{
  padding: 2em 0;
}

#about
{
    padding : 6em 0 ;
}

.box
{
  width:24px;
  height:24px;
  border-radius: 2px;
  content:" ";
}

#red
{
  background-color: #f50606;
}

#yellow
{
  background-color: #ffc000;
}

#green
{
  background-color: #50a211;
}

.position
{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  border: 1px solid #4e4e4e;
  padding:0.5em;
}

#Map_header
{
    margin-bottom: 1em;
}

s
